*{
	padding: 0;
	margin: 0;
}
body{
   font-family: 'AnkeRegular' !important;
   font-weight: normal;
   font-style: normal;
   background-color: #EEEEEE;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  color: white;
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px; 
  font-size: 18px; 
}
.grey-fade{
	background-image: linear-gradient(to bottom right, #50555e, #373A40) !important;
}
.blue-fade{
	background-image: linear-gradient(to bottom right, #19D3DA, #1969da);
}
/********** navbar **********/
nav h1{
	cursor: default;
}
.nav-link:hover{
	color: #19D3DA !important;
}
.navbar{
	font-size:2rem;
	padding: 2% 15% 2% 15%;
}
#about{
	margin-left: 10% !important;
}
#contact{
	margin-left: 10% !important;
}
/********* First Look *********/
#first-look{
	text-shadow: 3px 0 5px #686D76;
	background-image: linear-gradient(to top right, #19D3DA, #002d75, black);
	left: 0;
	right: 0;
}
.phrase{
	line-height: 2 !important;
	font-size: 4rem !important;
	color: #FFFFFF !important;
}
#rocket{
	margin-top: 50px !important;
	z-index: 1;
}
#mars{
	padding-bottom: 10%;
	z-index: 1;
}
#earth{
	padding-top: 10%;
	z-index: 1;
}
/********* About Me **********/
.box{
	background-image: linear-gradient(to right, #EEEEEE, #e1e3e1);
	border-radius: 10px;
	margin-left: 10px !important;
}
hr{
	margin-right: 10px !important;
	width: 60% !important;
}
#self{
	box-shadow: 10px 0px 50px black;
	background-image: linear-gradient(to  bottom right, white, #e1e3e1);
	border-radius: 10px;
}
.about{
	padding-left: 2% !important;
}
.italic{
	font-style: italic;
}
#myChart{
	padding-top: 5%;
 }
 .skill-text{
 	text-align: center;
 	margin-top: 5%;
 }
 .github{
	width: 40% !important;
	height: auto !important;
}
.skill{
	width: 40% !important;
	height: auto !important;
}
/********* Contact **********/
#more{
	color: white;
	padding: 10% 0 10% 0;
	width: 100%;
	left: 0 !important;
	right: 0 !important;
}
.pos{
	background-color: #EEEEEE;
	box-shadow: 10px 0px 50px black;
	border-radius: 10px;
}
.icon{
	width: 15% !important;
	height: auto !important;
}
.icon2{
	width: 50% !important;
	height: auto !important;
}
form button{
	font-size: 90% !important;
}
.card-size1{
	font-size: 2rem !important;
}
.card-size2{
	font-size: 3rem !important;
	padding-top: 10% !important;
}
.card{
	border-radius: 20px !important;
	color: white;
	bottom: 10%;
}
.end-para{
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}
#submit{
	color: #1969da !important;
	font-weight: bold;
}
#submit:hover{
	background-color: #b8b8b8 !important;
}
#footer{
	font-size: 2rem;
	color: white;
}
.end-link{
	width: 5% !important;
	height: 5% !important;
}
.end{
	width: 5% !important;
	height: auto !important;
}




.star{
	background-color: white;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	position: absolute;
}
#stars{
	top: 20%;
	left: 30%;
	animation-name: twinkle;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#stars2{
	top: 80%;
	left: 50%;
	animation-name: twinkle;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
#stars3{
	top: 40%;
	left: 80%;
	animation-name: twinkle;
	animation-duration: 0.9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#stars4{
	top: 70%;
	left: 10%;
	animation-name: twinkle;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#stars5{
	top: 90%;
	left: 90%;
	animation-name: twinkle;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#stars6{
	top: 30%;
	left: 50%;
	animation-name: twinkle;
	animation-duration: 0.9s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
#stars7{
	top: 30%;
	left: 5%;
	animation-name: twinkle;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#stars8{
	top: 15%;
	left: 95%;
	animation-name: twinkle;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#stars9{
	top: 95%;
	left: 70%;
	animation-name: twinkle;
	animation-duration: 0.9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#stars10{
	top: 40%;
	left: 20%;
	animation-name: twinkle;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
@keyframes twinkle{
	0%{
		width: 2px;
		height: 2px;
	}
	50%{
		width: 5px;
		height: 5px;
	}
	100%{
		width: 2px;
		height: 2px;
	}
}