*{
	padding: 0;
	margin: 0;
}
body{
   font-family: 'AnkeRegular' !important;
   font-weight: normal;
   font-style: normal;
   background-color: #EEEEEE;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  color: white;
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px; 
  font-size: 18px; 
}
.grey-fade{
	background-image: linear-gradient(to bottom right, #50555e, #373A40) !important;
}
.blue-fade{
	background-image: linear-gradient(to bottom right, #19D3DA, #1969da);
}
/********** navbar **********/
nav h1{
	cursor: default;
}
.nav-link:hover{
	color: #19D3DA !important;
}
.navbar{
	font-size:2rem;
	padding: 2% 15% 2% 15%;
}
#about{
	margin-left: 10% !important;
}
#contact{
	margin-left: 10% !important;
}
/********* First Look *********/
#first-look{
	text-shadow: 3px 0 5px #686D76;
	background-image: linear-gradient(to top right, #19D3DA, #002d75);
	left: 0;
	right: 0;
}
.phrase{
	line-height: 2 !important;
	font-size: 4rem !important;
}
#rocket{
	margin-top: 50px !important;
}
#mars{
	padding-bottom: 10%;
}
#earth{
	padding-top: 10%;
}
/********* About Me **********/
.box{
	background-color: #D7D7D7;
	border-radius: 10px;
	margin-left: 10px !important;
}
hr{
	margin-right: 10px !important;
	width: 60% !important;
}
#self{
	box-shadow: 10px 0px 50px black;
	background-image: linear-gradient(to  bottom right, white, #e1e3e1);
	border-radius: 10px;
}
.about{
	padding-left: 2% !important;
}
.italic{
	font-style: italic;
}
#myChart{
	padding-top: 5%;
 }
 .skill-text{
 	text-align: center;
 	margin-top: 5%;
 }
 .github{
	width: 40% !important;
	height: auto !important;
}
.skill{
	width: 40% !important;
	height: auto !important;
}
/********* Contact **********/
#more{
	color: white;
	padding: 10% 0 10% 0;
	width: 100%;
	left: 0 !important;
	right: 0 !important;
}
.pos{
	background-color: #EEEEEE;
	box-shadow: 10px 0px 50px black;
	border-radius: 10px;
}
.icon{
	width: 15% !important;
	height: auto !important;
}
.icon2{
	width: 50% !important;
	height: auto !important;
}
form button{
	font-size: 90% !important;
}
.card-size1{
	font-size: 2rem !important;
}
.card-size2{
	font-size: 3rem !important;
	padding-top: 10% !important;
}
.card{
	border-radius: 20px !important;
	color: white;
	bottom: 10%;
}
.end-para{
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}
#submit{
	color: #1969da !important;
	font-weight: bold;
}
#submit:hover{
	background-color: #b8b8b8 !important;
}
#footer{
	font-size: 2rem;
	color: white;
}
.end-link{
	width: 5% !important;
	height: 5% !important;
}
.end{
	width: 5% !important;
	height: auto !important;
}